<footer>
  <div class="footer-container">
    <a href="./index.html">
      <h1>WOODOO</h1>
    </a>
    <div class="footer-content">
      <h2>CONTENT</h2>
      <a href="catalog.html">CATALOG</a>
      <a href="http://localhost:8000/index.html#about">ABOUT</a>
      <a href="http://localhost:8000/index.html#interior">INTERIORS</a>
    </div>
    <div class="footer-content">
      <h2>CONTACT US</h2>
      <a>goodfurniture@gmail.com</a>
      <a>goodfurniture@gmail.com</a>
      <a>89218346365</a>
    </div>
    <div class="footer-content">
      <h2>SOCIAL NETWORKS</h2>
      <a>INSTAGRAM</a>
      <a>FACEBOOK</a>
      <a>PINTEREST</a>
    </div>
    <div class="footer-icons">
      <a class="instagram icon"></a>
      <a class="facebook icon"></a>
      <a class="pinterest icon"></a>
    </div>
  </div>
</footer>