<div id="myModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content"> 
        <div class="modal-body">
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          <img class="modal-image" src="../images/products/Product-1.jpg" alt="">
          <h2 class="chair-name">GRAY CHAIR</h2>
          <p class="chair-price">$343</p>
          <p>2Y8376 MODEL</p>
          <h3>DESCRIPTION</h3>
          <p class="modal-description">It has survived not only five centuries, but also the leap into electronic 
            typesetting, remaining essentially unchanged. It has survived not only five
             centuries, but also the leap into electronic typesetting, remaining essentially
              unchanged. </p>
          <div class="buttons">
            <div class="modal-input-button">
              <div class="chair-quantity" > 1 </div>
              <button class="btn add-one"data-dismiss="modal">ADD ONE</button>
            </div>
            <a href="checkout.html"><button class="btn order"data-dismiss="modal">ORDER</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>