@import "common";

* {
    margin: 0px;
    padding: 0px;
}

.bg-image {
    height: 100vh;
    background-image: url(../images/Bg.png);
    background-size: cover;
    background-position: center;
}

.main-heading {
    position: absolute;
    top: 10vh;
    left: 23vw;
    color: $dark;
    font-size: 4vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

@media (max-width: 769px) {
    .main-heading {
        top: 13vh;
        left: 15vw;
        font-size: 10vw;
    }
}

.under-main-heading {
    position: absolute;
    top: 22vh;
    left: 23vw;
    color: $dark;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    letter-spacing: 0.2rem;
}

@media (max-width: 769px) {
    .under-main-heading {
        top: 22vh;
        left: 15vw;
        font-size: 5vw;
    }
}

.about-us {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .text-about-us {
        width: 50%;
        // height: 270px;
        font-family: 'Montserrat', sans-serif;
        color: $dark;
        display: flex;
        justify-content: center;

        .text-container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            width: 65%;

            h3 {
                font-size: 38px;
                font-weight: bold;
                margin-bottom: 5vh;
            }

            p {
                font-size: 16px;
            }
        }
    }

    .photo-about-us {
        width: 45%;
        height: 1000px;
        background-image: url(../images/about-us.png);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 5vh;
    }
}

@media (max-width: 768px) {
    .about-us {
        .photo-about-us {
            width: 50%;
            height: 700px;
        }
    }
}

@media (max-width: 500px) {
    .about-us {
        flex-direction: column;

        .text-about-us {
            margin-top: 5vh;
            width: 100%;

            .text-container {
                width: 90%;
            }

        }

        .photo-about-us {
            width: 100%;
            height: 500px;
        }
    }
}

.new-arrivals {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;

    h2 {
        font-size: 25px;
        font-weight: bold;
        color: $dark;
        font-family: 'Montserrat', sans-serif;
        margin-left: 5vw;
        margin-top: 10vh;
        margin-bottom: 10vh;
        letter-spacing: 0.2rem;
    }

    .items-container {
        display: flex;
        flex-wrap: wrap;

        .items-phone-container {
            display: flex;
            flex-wrap: wrap;
        }

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 25%;
            cursor: pointer;

            .chair-photo {
                width: 22vw;
                height: 22vw;
            }

            .chair-name {
                color: $dark;
                font-size: 10px;
                font-weight: bold;
            }

            .price {
                color: #9B9797;
                font-weight: normal;
                font-size: 2vh;
            }
        }
    }
}

@media (max-width: 769px) {
    .new-arrivals {
        .items-container {
            overflow: scroll;
            scrollbar-width: none;

            ::-webkit-scrollbar {
                display: none;
            }

            .items-phone-container {
                flex-wrap: nowrap;
                width: 1000px;
            }

            .item {
                width: 50%;

                .chair-photo {
                    width: 30vw;
                    height: 30vw;
                }

                .chair-name {
                    font-size: 20px;
                }

                .price {
                    font-size: 15px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .new-arrivals {
        width: 100%;

        .items-container {
            .item {
                width: 80%;

                .chair-photo {
                    width: 65vw;
                    height: 65vw;
                }

                .chair-name {
                    display: none;
                }

                .price {
                    display: none;
                }
            }
        }
    }
}

.interior-1 {
    position: relative;
    margin-top: 5vh;

    h2 {
        color: $dark;
        font-size: 32px;
        position: absolute;
        font-weight: bold;
        margin-left: 2vw;
        letter-spacing: 0.2rem;
    }

    .interior-1-photo {
        background-image: url(../images/interior1.png);
        background-size: cover;
        width: 100%;
        height: 100vh;
    }
}

@media (max-width: 800px) {
    .interior-1 {
        .interior-1-photo {
            height: 50vh;
        }
    }
}

@media (max-width: 500px) {
    .interior-1 {
        h2 {
            position: relative;
            font-size: 22px;
        }

        .interior-1-photo {
            height: 30vh;
        }
    }
}


.chair-presentation {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: black;
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 0.2rem;

    }

    .content-presentation {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .order {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 3vw;
            margin-right: 3vw;

            .container {
                padding: 0;

                .btn-order {
                    width: 150px;
                    height: 70px;
                    border: none;
                    background-color: white;
                    color: black;
                    border-radius: 4px;
                    box-shadow: inset 0 0 0 0 rgb(236, 234, 234);
                    transition: ease-out 0.4s;
                    font-size: 2em;
                    font-weight: bold;
                    outline: none;

                    &:hover {
                        box-shadow: inset 150px 0px 0px 0 rgb(236, 234, 234);

                    }
                }
            }

            .line {
                width: 1px;
                height: 100px;
                background-color: black;
                margin-top: 3vh;
            }

            a {
                text-decoration: none;

                p {
                    font-size: 15px;
                    margin-top: 3vh;
                    color: black;
                    transition: ease-out 0.3s;

                    &:hover {
                        color: $danger;
                    }
                }
            }

            p {
                cursor: pointer;
                transition: ease-out 0.3s;

                &:hover {
                    color: $danger;
                }
            }
        }

        .photo-presentation {
            width: 50vw;
            height: 50vw;
            background-size: cover;
            margin-left: 3vw;
            margin-right: 3vw;

            .carousel-indicators {
                .circle {
                    width: 0.8vw;
                    height: 0.8vw;
                    border: 1px solid black;
                    border-radius: 50%;
                }
            }
        }

        .chair-name-container {
            position: relative;
            min-width: 200px;
            min-height: 200px;
            margin-left: 3vw;
            margin-right: 3vw;
            top: 150px;

            .item-name {
                color: rgba(0, 0, 0, 0);
                font-size: 28px;
                font-weight: bold;
                transition-duration: 2s;
                position: absolute;

                .first-name {

                    color: rgba(0, 0, 0, 0);
                    font-size: 12px;
                    font-weight: bold;
                    transition-duration: 2s;
                    position: absolute;
                }
            }
        }
    }

    .slider {
        display: flex;
        justify-content: space-between;
        width: 7%;

        .circle {
            width: 0.8vw;
            height: 0.8vw;
            border: 1px solid black;
            border-radius: 50%;
        }

        .full {
            background-color: black;
        }
    }
}

.higher-position {
    color: black !important;
    transform: translate(0px, -100px);
}

.higher-position-first-name {
    color: $dark !important;
    transform: translate(0px, -50px);
}

@media (max-width: 800px) {
    .chair-presentation {
        .content-presentation {
            width: 90%;

            .order {
                h2 {
                    font-size: 25px;
                }
            }

            .photo-presentation {
                width: 40vw;
                height: 40vw;
                margin-left: 0px;
            }

            .item-name {
                font-size: 23px;
            }
        }
    }
}

@media (max-width: 500px) {
    .chair-presentation {
        display: none;

        .photo-presentation {
            display: none;
        }
    }
}

.interior-2 {
    // position: relative;
    margin-top: 5vh;

    h2 {
        color: $dark;
        font-size: 32;
        position: absolute;
        font-weight: bold;
        margin-left: 55vw;
        margin-top: 10vh;
        letter-spacing: 0.2rem;
    }

    .interior-2-photo {
        background-image: url(../images/interior2.png);
        background-size: cover;
        width: 100%;
        height: 140vh;
    }
}

@media (max-width: 768px) {
    .interior-2 {
        .interior-2-photo {
            height: 70vh;
        }
    }
}

@media (max-width: 500px) {
    .interior-2 {
        h2 {
            display: none;
        }

        .interior-2-photo {
            height: 50vh;
        }
    }
}

.contacts {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5vh;

    iframe {
        margin-left: 2vw;
    }

    .contacts-information {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-left: 5vw;

        h2 {
            color: $dark;
            font-size: 37px;
            font-weight: bold;
        }

        .contacts-information-container {
            margin-top: 5vh;
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                color: $dark;
                font-size: 16px;
                font-weight: normal;
                width: 30%;
            }

            .contacts-photo {
                background-image: url(../images/contacts-photo.png);
                background-size: cover;
                width: 400px;
                height: 200px;
            }
        }
    }
}

@media (max-width: 768px) {
    .contacts {
        flex-direction: column-reverse;
        align-items: center;

        iframe {
            margin: 0px;
            width: 100%;
        }

        .contacts-information {
            width: 100%;
            margin-bottom: 5vh;
            margin-left: 0px;
            padding-left: 5%;
            padding-right: 5%;
        }
    }
}

@media (max-width: 500px) {
    .contacts {
        .contacts-information {
            margin: 0px;

            .contacts-information-container {
                flex-direction: column-reverse;

                .contacts-photo {
                    width: 100%;
                }

                p {
                    width: 80%;
                    margin-top: 5vh;
                    margin-bottom: 5vh;
                }
            }
        }
    }
}