<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/checkout.css">
</head>

<body>
    <header>
        <%= require('text-loader!../partials/nav.html') %>
    </header>
    <div class="form-container">
        <form method="POST" action="form-handler" onsubmit="doValidation(event)" class="form-group">
            <h2>Checkout</h2>
            <h3>Contact information</h3>
            <div class="form-space">
                <label for="email">Email</label>
                <input type="text" required id="name" required
                    oninvalid="this.setCustomValidity('Enter email properly!')" oninput="this.setCustomValidity('')"
                    pattern='^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'>
            </div>
            <div class="checkbox">
                <span>Keep me up to date on exclusive offers</span><input type="checkbox" name="" id="">
            </div>
            <h3>Shipping method</h3>
            <div class="shipping">
                <input type="radio" id="shipping1" name="shipping" value="delivery" required>
                <label for="shipping1">Delivery</label>

                <input type="radio" id="shipping2" name="shipping" value="pickup">
                <label for="shipping2">Pickup</label>
            </div>
            <h3>Shipping adress</h3>
            <div class="form-space">
                <label>Full name</label>
                <input type="text" id="name" required>
            </div>
            <div class="form-space">
                <label>Adress</label>
                <input type="text" id="aress" required>
            </div>
            <div class="form-space">
                <label>Appartment</label>
                <input type="text" id="appartment" required>
            </div>
            <div class="form-space">
                <label>City</label>
                <input type="text" placeholder="Saint-Petersbourg" id="city" required>
            </div>
            <div class="form-space">
                <label>Phone</label>
                <input oninput="phoneNumberFormatter()" type="text" placeholder="8(***)***-**-**" maxlength="15"
                    id="phone" required>
            </div>
            <h3>Payment method</h3>
            <div class="shipping">
                <input type="radio" id="payment1" name="payment" value="delivery" required>
                <label for="payment1">Visa</label>

                <input type="radio" id="payment2" name="payment" value="pickup">
                <label for="payment2">Mastercard</label>
            </div>
            <div class="form-space">
                <label>Name</label>
                <input type="text" placeholder="Oleg Olegovich" pattern="^[A-Za-zА-Яа-яЁё]+$" id="name" required>
            </div>
            <div class="form-space">
                <label>Card number</label>
                <input type="text" oninput="cardFormatter()" maxlength="19" placeholder="**** **** **** ****" id="card" required>
            </div>
            <div class="ccvContainer">
                <div class="form-space">
                    <label>Expiration date</label>
                    <input type="text" oninput="dateFormatter()" placeholder="dd/mm/yyyy" maxlength="10" id="date"
                        required>
                </div>
                <div class="form-space">
                    <label>CCV</label>
                    <input type="text" placeholder="***" maxlength="3" id="" pattern="\d{3}"
                    oninvalid="this.setCustomValidity('Enter three digits on the back side of your card')"
                    oninput="this.setCustomValidity('')" required>
                </div>
            </div>
            <button type="submit" class="btn-order"> Order </button>
        </form>

        <div class="order">
            <h3>Order summary</h3>
            <div class="order-container">
            </div>
            <h3 class="total-price">Total: <span class="total-price-value">$0</span></h3>
        </div>
    </div>

    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h2>Thanks for your order!</h2>
                    <p class="modal-description">
                        Great news!Some of the stylish items from your order are
                        now on their way. Any items missing from your order?
                        Don't worry, another parcel will be dispatched soon. </p>
                    <button type="button" data-bs-dismiss="modal">BACK TO SHOPPING</button>
                </div>
            </div>
        </div>
    </div>

    <%= require('text-loader!../partials/footer.html') %>

    <script src="./js/checkout.js" async defer></script>
</body>

</html>